@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:content-box;
   
}

/* Fill your code*/
.container{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.header{
    position: relative;
    background-color: rgb(63, 5, 5);
    height: 90px;
    width: 100%;
}
.slash{
  display: flex;
}
hr {
  transform: rotate(317deg);
  position: relative;
  width: 10%;
  height: auto;
  left: -2%;
  top: 53px;
}
.cake-world{
    position: relative;
    border: 2px solid rgb(146, 31, 31);
    border-radius: 50%;
    background-color: black;
    width: 180px;
    top: 10px;
    left: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.cake-world h1{
    position: relative;
    color: rgb(255, 255, 255);
    top: -20px;
    font-size: x-large;
}
.first{
  position: relative;
  width: 100%;
  height: 550px;
  background-color:purple;
  display: flex;
  justify-content: space-between;
}
.menu img{
    position:absolute;
    top: 48%;
    left: 85px;
    width: 280px;
    height: 240px;
    z-index: auto;
}

.menu-container{
    position: absolute;
    color: white;
    padding: 2px;
    top:52%;
    left: 135px;
}
.cost{
    line-height: 1.5;
  }
#price{
    position: relative;
    text-align: center;
    line-height: 2;
    font-size:large;
}
.layers{
    position: absolute;
    bottom: 30%;
    width: 245px;
    left: 42%;
    height: 125px;
    display: flex;
    flex-direction: column;
  }
  #candle {
    width: 70px;
    height: 50px;
    position: absolute;
    left: 35%;
    top: -33%;
    visibility: hidden;
}
  #layer1 {
    width: 245px;
    visibility: hidden;
    border-radius: 25%;
    align-self: center;
    padding:20px;
  }
  
  #layer2 {
    width: 200px;
    left: 40px;
    visibility: hidden;
    border-radius: 25%;
    align-self: center;
    padding: 20px;
  }
  
  #layer3 {
    width: 160px;
    left: 60px;
    visibility: hidden;
    border-radius: 25%;
    align-self: center;
    padding: 20px;
  }
  
  #layer4 {
    width: 120px;
    left: 80px;
    visibility: hidden;
    border-radius: 25%;
    align-self: center;
    padding: 20px;
  }
  
  #layer5 {
    width: 80px;
    left: 100px;
    visibility: hidden;
    border-radius: 25%;
    align-self: center;
    padding: 20px;
  }
  .billing img{
    position: absolute;
    top: 48%;
    right: 85px;
    width: 280px;
    height: 240px;
    z-index: 1;
  }
  .billing-container{
    position: absolute;
    color: white;
    padding: 2px;
    top:52%;
    right: 140px; 
  }
  #bill{
      position: relative;
      text-align: center;
      font-size: large;
      line-height:2;
  }
  #total{
    line-height: 5;
  }
  .footer{
    position: relative;
    height: 115px;
    width: auto;
    background-color: rgb(63, 5, 5);
    display: flex;
    justify-content: space-around;
}


.footer input[type = button]{
  position: relative;
  width: auto;
  height: 35px;
  text-align: center;
  font-size: 1.2em;
  background-color: blueviolet;
  color: white;
  border-radius: 10%;
  padding: 5px;
  top: 30px;
}
input[type = button]:hover
{
    cursor: pointer;
}
#Buy:focus{
    background-color: rgb(55, 233, 55);
    color: black;
}